<template>
  <b-container>
    <section id="AI4K12" class="page-section bg-primary text-white mt-4">
      <div class="container">
        <!-- IA Section Heading-->
        <div class="text-center">
          <h3 class="page-section-heading d-inline-block text-white">
            AI4K12 e as cinco grandes ideias em IA
          </h3>
          <p></p>
          <h5>
            Perceção, Representação e Raciocínio, Aprendizagem Máquina,
            Interação Natural e Impacto social
          </h5>
          <br />
          <img src="@/assets/img/pathway.png" alt="AI Pathway" />
        </div>
        <br /><br />

        <h5>
          Perceção
          <h6>
            <p class="pre-wrap lead">
              Os computadores percebem o mundo através de sensores, fazendo que
              possam “ver” e “ouvir” de modo a extrair significados com base nos
              sinais sensoriais. Trata-se de uma das maiores conquistas da IA
            </p>
          </h6>
        </h5>
        <br />
        <h5>
          Representação e Raciocínio
          <h6>
            <p class="pre-wrap lead">
              Os agentes fazem representações do mundo e usam-nas para
              raciocinar.
            </p>
          </h6>
        </h5>
        <br />
        <h5>
          Aprendizagem Máquina
          <h6>
            <p class="pre-wrap lead">
              Os computadores conseguem aprender a partir dos dados. Tem
              necessidade de grande volume de dados
            </p>
          </h6>
        </h5>
        <br />
        <h5>
          Interação natural
          <h6>
            <p class="pre-wrap lead">
              Agentes inteligentes pedem N conhecimentos para interagir
              naturalmente com os humanos. Os agentes têm de ser capazes de
              conversar em idiomas humanos, reconhecer expressões e emoções
              faciais, e aproveitar o conhecimento da cultura e das convenções
              sociais para inferir intenções do comportamento observado
            </p>
          </h6>
        </h5>
        <br />
        <h5>
          Impacto social
          <h6>
            <p class="pre-wrap lead">
              A IA tem um impacto na sociedade que assume formas positivas e
              negativas. As tecnologias de IA fazem com que a forma como
              trabalhamos, viajamos, comunicamos e cuidamos uns dos outros
              esteja a mudar.
            </p>
          </h6>
        </h5>
        <br /><br /><br /><br />

        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-brain"></i></div>
          <pre>
                        <div class="divider-custom-line"></div></pre>

          <!-- IA Section Content-->
          <div class="row">
            <div class="col-lg-0 ml-auto">
              <p class="pre-wrap lead"></p>
            </div>
            <div class="col-lg-0 mr-auto">
              <p class="pre-wrap lead"></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </b-container>
</template>
