<template>
  <b-container fluid>
    <header class="masthead bg-primary text-white text-center">
      <div class="b-container> d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img
          class="masthead-avatar mt-0 mb-4"
          src="../assets/img/robot.png"
          alt="Robot"
        />
        <!-- Masthead Heading-->
        <h3 class="masthead-heading test-uppercase mb-0">
          Plataforma Web
          <p>de Inteligência Artificial</p>
        </h3>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-brain"></i></div>
          <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="pre-wrap masthead-subheading font-weight-light mb-5">
          Para contribuir para o ensino da IA, em sintonia com a iniciativa
          AI4K12 !
        </p>
      </div>
    </header>
    <section id="about" class="page-section bg-primary text-white mt-5 mb-0">
      <div class="b-container>">
        <!-- About Section Heading-->
        <div class="text-center">
          <h2 class="page-section-heading d-inline-block text-white mt-1 mb-0">
            Acerca deste Projeto
          </h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-brain"></i></div>
          <div class="divider-custom-line"></div>
        </div><br><br><br>
        <!-- About Section Content-->
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p class="pre-wrap lead" style="text-align:center">
              Este é um projeto com o objetivo de contribuir para o ensino da
              Inteligência Artificial em meio escolar em sintonia com a iniciativa AI4K12, e maioritariamente para os níveis do 3º ciclo e secundário.</p>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="pre-wrap lead">
              É neste sentido que são disponibilizadas ferramentas e outros
              recursos didáticos de forma livre, prática e
              acessível em 5 áreas no Repositório. De forma a ficarmos com o vosso contato, pode e deve efetuar o seu registo
               <a class="text-white" href=/registo><b>aqui. </b></a>Pode usar os contatos do rodapé ou contatar-nos diretamente <a class="text-white" href=/contato><b>aqui. </b></a> </p>
               
              <p>
            </p>
          </div>
        </div>
      </div>
    </section>
    <br><br>
    <footer class="footer text-center">
      <div class="b-container>">
        <div class="row">
          <!-- Footer Location-->
          <div class="col-lg-7">
            <h4 class="mb-0">Localização</h4>
            <p class="pre-wrap lead mb-0">Universidade dos Açores</p>
            <p>Ponta Delgada</p>
          </div>
          <!-- Footer About Text-->
          <div class="col-lg-4">
            <h4 class="mb-0">Sobre Web & IA</h4>
            <p class="pre-wrap lead mb-0">
              Web & IA usa tema de Bootstrap, com licença MIT, gratuito e criado
              por <a class="lead font-weight-bold">StartBootstrap</a>
            </p>
          </div>
        </div>
      </div>
       <!-- Contact Section Content-->
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="d-flex flex-column align-items-center">
              <div class="icon-contact mb-3">
                <i class="fas fa-mobile-alt"></i>
              </div>
              <div class="text-muted">Telefone</div>
              <a class="lead font-weight-bold" href="tel:296 650172"
                >296 650172</a
              >
            </div>
          </div>
          <div class="col-lg-5">
            <div class="d-flex flex-column align-items-center">
              <div class="icon-contact mb-3">
                <i class="far fa-envelope"></i>
              </div>
              <div class="text-muted">E-mail</div>
              <a
                class="lead font-weight-bold"
                href="mailto:web.ia.uac@gmail.com"
                >web.ia.uac@gmail.com</a>
            </div>
          </div>
        </div>      
    </footer>
    <!-- Copyright Section-->
    <section class="copyright py-4 text-center text-white">
      <div class="b-container>">
        <small class="pre-wrap">Copyright © Web & IA 2021</small>
      </div>
    </section>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
    <div class="scroll-to-top d-lg-none position-fixed">
      <a
        class="js-scroll-trigger d-block text-center text-white rounded"
        href="#page-top"
        ><i class="fa fa-chevron-up"></i
      ></a>
    </div>
  </b-container>
</template>
