<template>
  <section class="page-section mt-5">
    <b-container>
      <b-row class="text-center">
        <b-col>
          <h4 class="text-secondary d-inline-block mt-2">Menu Gestão</h4>
        </b-col>
      </b-row>
      <b-row class="text-center">
        <b-col>
          <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
              <i class="fas fa-brain"></i>
            </div>
            <div class="divider-custom-line"></div>
          </div>
        </b-col>
         </b-row><br>
      <br>
      <b-container>
        <div class="jumbotron">      
          <br>
          <b-row>
          <b-col cols="4"></b-col>
          <b-col cols="4">  
              <h5 class="text-center mt-0"><a href=/rtool>Registo de Ferramenta</a></h5>
              <br>
              <h5 class="text-center mt-0"><a href=/tool>Ver Ferramentas</a></h5>
               </b-col></b-row>
                </div>
                </b-container>
          </b-container>
    </section>
  </template>
